.html {
  height: 100%;
  width: 100%;
  padding: 10px;
}

.field {
  margin: 0 auto;
  width: 800px;
  height: 800px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.cell {
  position: relative;
  color: #0b6684;
  margin-right: 10px;
  width: 188px;
  height: 188px;
  background-color: aliceblue;
  border: 1px solid grey;
  border-radius: 5px;
}

.img { 
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}